name: CI

on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-python-versions:
    name: Get Python versions
    runs-on: ubuntu-latest
    outputs:
      python-matrix: ${{ steps.get-python-versions-action.outputs.latest-python-versions }}
    steps:
      - name: Get Python version matrix
        uses: snok/latest-python-versions@v1
        id: get-python-versions-action
        with:
          min-version: 3.8

  ci:
    name: CI
    needs: [get-python-versions]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ${{ fromJson(needs.get-python-versions.outputs.python-matrix) }}

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Load cached environment
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        id: poetry-install
        run: |
          poetry install --no-interaction --no-root
          echo "django_version=$(poetry run django-admin --version)" >> $GITHUB_OUTPUT

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files

      - name: Run Tests (Django ${{ steps.poetry-install.outputs.django_version }})
        run: |
          poetry run pytest \
          --junitxml=pytest.xml \
          --cov-report=term-missing:skip-covered \
          --cov=easyaudit | tee pytest-coverage.txt

      - name: Add coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        continue-on-error: true
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
          report-only-changed-files: true
          title: Coverage Report
          unique-id-for-comment: ${{ matrix.python-version }}
          remove-link-from-badge: true
